html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Container {
  display: flex;
  justify-content: space-around;
}

.Container .btn {
  background-color: rgb(206, 195, 195);
}

.btn:hover {
  background-color: #5391c4;
}

.Element {
  margin-top: 1rem;

  flex-wrap: wrap;

  /* background-color: #0d6efd; */
  border: solid;

  border-radius: 2em 2em 2em 2em;
  /* box-shadow: 1rem 1rem 1rem 1rem; */
}

.Doctor {
  /* background-color: rgb(210, 240, 249); */
  /* border: solid; */
  border-radius: 1em 1em 1em 1em;
  display: flex;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: flex-start;
  text-align: center;
}
.Unknow {
  margin: 2rem;
}

.divPleaseLogin {
  margin: auto;
  padding: 10rem;
}
